/* Colors */
$white: #c9cacc;
$true-white: #ffffff;
$background: #1d1f21;
$primary: #2bbc8a;
$scheme-main: $background;

/* Derived Variables */
$body-background-color: $background;
$footer-background-color: $background;
$body-color: $white;
$footer-color: $white;
$text: $white;
$title-color: $primary;
$link: $primary;
$link-hover: $true-white;

$section-padding: 3.5rem 1.5rem;
$title-line-height: 2.5rem;
$subtitle-line-height: 2.125rem;


