@import "variables";
@import "node_modules/bulma/sass/utilities/_all";
@import "node_modules/bulma/sass/base/_all";
@import "node_modules/bulma/sass/elements/_all";
@import "node_modules/bulma/sass/grid/_all";
@import "node_modules/bulma/sass/form/_all";
@import "node_modules/bulma/sass/components/_all";
@import "node_modules/bulma/sass/layout/_all";


html {
  background-color: $primary;
  min-height: calc(100% - 20px);
}

body {
  height: 100%;
  margin: 10px;
  background-color: $background;
}

.blog-post-content {
  h2 {
    color: $primary;  
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 40px;
    margin-bottom: 10px;
  }
}

#main {
  max-width: 960px;
}

.has-underline {
  text-decoration: underline;
}

.section {
  p {
    margin-bottom: 1rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.section + .section {
  padding-top: 0;
}

.title.is-5 {
  line-height: 1.5rem;
}

.title.is-1 + .subtitle.is-2 {
  margin-top: -.75rem;
}

#content {
  em {
    color: $primary;
  }

  @media screen and(min-width: 960px) {
    p {
      padding-right: 40px;
    }
  }
  
}

li {
  a {
    color: $white;
    text-decoration: underline;
  }
}

.remove-padding-y {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.remove-padding-x {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.buzz-word-wrap {
  @media screen and(max-width: 959px) {
    padding-top: 0;
  }
}
